parameters:
	ignoreErrors:
		-
			message: '#^Strict comparison using \!\=\= between float and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/EventListener.php
