<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="./tests/bootstrap.php"
         backupGlobals="true"
         cacheDirectory=".phpunit.cache"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd">

    <testsuites>
        <testsuite name="cakephp">
            <directory>./tests/TestCase/</directory>
        </testsuite>
    </testsuites>

    <!-- Prevent coverage reports from looking in tests, vendors, config folders -->
    <source>
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
    </source>
</phpunit>
